.table-container table {
    margin: 20px 40px 20px 30px;
    font-family: Roboto, arial, sans-serif;
    width: 90%;
}

.table-container td, tbody, th {
    border: 1px solid #f3f3f3;
    text-align: left;
    padding: 10px;
    font-size: 14px;
}

.table-container thead {
    background-color: #FAFAFA;
    font-size: 16px;
}

.table-container td:nth-child(2) {
    width: 60%;
}

.table-container td:nth-child(3) {
    width: 10%;
    border: 1px solid #f3f3f3;
    border-left: none;
    align-content: center;
}
