.account-page {
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    margin-left: 20px;
}

.name-card {
    height: 480px;
    display: flex;
    width: 90vw;
    align-items: center;
    justify-content: space-evenly;
    background-color: #fff;
    border-radius: 4px;
}

.name-card__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.name-card__content label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 645px;
    line-height: 45px;
    margin-bottom: 10px;
    color: #4A4A4A;
    font-family: Roboto, arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}

.name-card__content input {
    height: 45px;
    flex: 0 0 475px;
    text-indent: 10px;
}

.container {
    position: relative;
}

.image .rounded {
    width: 360px;
    height: 360px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
    width: 360px;
    height: 360px;
}

.container:hover .image {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
    border-radius: 50%;
}

.api-keys-block {
    width: 90vw;
    flex-direction: column;
    background-color: #fff;
    border-radius: 4px;
    padding-top: 20px;
}



.api-keys-block h1 {
    margin-left: 30px;
    color: #000;
    font-family: Roboto, arial, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
}

.api-keys-block button {
    margin-left: 30px;
    display: inline-flex;
    color: #000;
    font-family: Roboto, arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    justify-content: center;
    width: fit-content;
    gap: 5px;
    padding: 5px 12px;
    border: 1px solid #852CF5;
    background: none;
    border-radius: 4px;
}
.api-keys-block button:hover{
    background-color: #852CF5;
    color: #fff;
    text-decoration: none;
    transition: .5s ease;
}

.api-keys-block button:hover .plus {
    color: #fff;
    transition: .5s ease;
}

.api-keys-block .plus {
    width: 24px;
    height: 24px;
    color: #852CF5;
}

.api-keys-block .edit, .delete {
    width: 30px;
    height: 30px;
    color: rgb(0, 0, 0);
}

.api-keys-block .edit:hover, .delete:hover {
    color: #852CF5;
    transition: .5s ease;
    transform: scale(1.2);
}

.api-keys-block .edit-keys {
    display: inline-flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

