.themed-popup {
  background-color: var(--whiteC100);
}

.ant-select-item-option-active {
  background-color: var(--whiteC200) !important;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: var(--whiteC200) !important;
}

.ant-tabs {
  color: var(--text-COMMON_TEXT);
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: var(--accent-PRIMARY) !important;
}

.ant-tabs-top > .ant-tabs-nav::before, .ant-tabs-bottom > .ant-tabs-nav::before, .ant-tabs-top > div > .ant-tabs-nav::before, .ant-tabs-bottom > div > .ant-tabs-nav::before {
  border-bottom-color: var(--whiteC900);
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background-color: var(--whiteC400);
  border: 1px solid var(--whiteC300);
}

.ant-select {
  color: var(--text-COMMON_TEXT);
}

.ant-select-dropdown {
  background-color: var(--whiteC400);
  color: var(--text-COMMON_TEXT);
}

.ant-select-item {
  color: var(--text-HEADING);
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: var(--whiteC200);
  color: var(--text-COMMON_TEXT);
}

.ant-form-item-label > label {
  color: var(--text-HEADING);
}

h4.ant-typography, div.ant-typography-h4, div.ant-typography-h4 > textarea, .ant-typography h4 {
  color: var(--text-DISABLED);
}

.ant-typography {
  color: var(--text-COMMON_TEXT);
}

h3.ant-typography, div.ant-typography-h3, div.ant-typography-h3 > textarea, .ant-typography h3 {
  color: var(--text-HEADING);
}

.ant-select-clear {
  color: var(--text-HEADING);
  background-color: var(--whiteC400);
}

.ant-input-affix-wrapper {
  background-color: var(--whiteC400);
  border: 1px solid var(--whiteC300);
  color: var(--text-COMMON_TEXT);
}

.ant-input {
  background-color: var(--whiteC400);
  color: var(--text-COMMON_TEXT);
}

.ant-input-number {
  background-color: var(--whiteC400);
  color: var(--text-COMMON_TEXT);
  border: 1px solid var(--whiteC300);
}

.ant-picker {
  background-color: var(--whiteC400);
  color: var(--text-COMMON_TEXT);
  border: 1px solid var(--whiteC300);
}

.ant-picker-dropdown {
  color: var(--text-COMMON_TEXT);
}

.ant-picker-panel-container {
  background-color: var(--whiteC100);
}

.ant-picker-header {
  border-bottom: 1px solid var(--whiteC300);
  color: var(--text-SECONDARY);
}

.ant-picker-header button {
  color: var(--text-SECONDARY);

  &:hover {
    color: var(--text-COMMON_TEXT);
  }
}

.ant-picker-content th {
  color: var(--text-COMMON_TEXT);
}

.ant-picker-cell {
  color: var(--text-SECONDARY);
}

.ant-picker-input > input {
  color: var(--text-COMMON_TEXT);
}

.ant-picker-clear {
  color: var(--text-HEADING);
  background-color: var(--whiteC400);
}

.ant-picker-cell-in-view {
  color: var(--text-COMMON_TEXT);
}

.ant-picker-panel .ant-picker-footer {
  border-top: 1px solid var(--whiteC300);
}

.ant-picker-today-btn {
  color: var(--text-SECONDARY);
}

.ant-picker-cell:hover:not(.ant-picker-cell-in-view) .ant-picker-cell-inner, .ant-picker-cell:hover:not(.ant-picker-cell-selected):not(.ant-picker-cell-range-start):not(.ant-picker-cell-range-end):not(.ant-picker-cell-range-hover-start):not(.ant-picker-cell-range-hover-end) .ant-picker-cell-inner {
  background-color: var(--whiteC400);
}

.ant-picker-panel {
  border: 1px solid var(--whiteC300);
}

.ant-picker-status-error.ant-picker, .ant-picker-status-error.ant-picker:not([disabled]):hover {
  background-color: var(--whiteC300);
  border: 1px solid var(--accent-DANGER)
}

.ant-picker-time-panel-column > li.ant-picker-time-panel-cell .ant-picker-time-panel-cell-inner {
  color: var(--text-COMMON_TEXT);
}

.ant-picker-cell-disabled {
  color: var(--text-DISABLED);
}

.ant-picker-time-panel-column > li.ant-picker-time-panel-cell .ant-picker-time-panel-cell-inner:hover {
  background-color: var(--whiteC300);
}

.ant-picker-time-panel-column > li.ant-picker-time-panel-cell-selected .ant-picker-time-panel-cell-inner {
  background-color: var(--whiteC400);
}

.ant-picker-time-panel-column:not(:first-child) {
  border-left: 1px solid var(--whiteC300);
}

.ant-picker-datetime-panel .ant-picker-time-panel {
  border-left: 1px solid var(--whiteC300);
}

.ant-picker-time-panel-column {
  &::-webkit-scrollbar {
    background: transparent;
    width: 6px;
    max-width: 6px;
    height: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--whiteC400);
    border-radius: 3px;
    width: 6px;
    height: 6px;
  }
}

.ant-input-number-handler-wrap {
  background-color: var(--whiteC100);
}

.ant-input-number-handler {
  color: var(--text-HEADING);
  border-left: 1px solid var(--whiteC300);
}

.ant-input-number-handler:active {
  background-color: var(--whiteC200);
}

.ant-input-number-handler-down {
  border-top: 1px solid var(--whiteC300);
}

.ant-input-number:hover:not(.ant-input-number-borderless) .ant-input-number-handler-down, .ant-input-number-focused:not(.ant-input-number-borderless) .ant-input-number-handler-down {
  border-top: 1px solid var(--whiteC300);
}

.ant-input-number-affix-wrapper {
  background-color: var(--whiteC400);
  border: 1px solid var(--whiteC300);
  color: var(--text-COMMON_TEXT);
}

.ant-select-multiple .ant-select-selection-item {
  background-color: var(--whiteC300);
  border: 1px solid var(--whiteC400);
  color: var(--text-COMMON_TEXT);
}

.ant-select-status-error.ant-select:not(.ant-select-disabled):not(.ant-select-customize-input):not(.ant-pagination-size-changer) .ant-select-selector {
  background-color: var(--whiteC400);
}

.ant-select-disabled.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background-color: var(--whiteC900);
}

.ant-select-multiple .ant-select-selection-item-remove {
  color: var(--text-HEADING);

  &:hover {
    color: var(--text-COMMON_TEXT);
  }
}

.ant-btn.ant-btn-default {
  background-color: var(--whiteC100);
  border: 1px solid var(--whiteC400);
  color: var(--text-COMMON_TEXT);

  &:hover {
    background-color: var(--whiteC300);
  }
}

.ant-empty-img-simple-g {
  stroke: var(--text-HEADING);
}

.ant-empty-img-simple-path {
  fill: var(--text-COMMON_TEXT);
}

.ant-empty-img-simple-ellipse {
  fill: var(--text-COMMON_TEXT);
}

.ant-modal {
  color: var(--text-COMMON_TEXT);
}

.ant-modal-content {
  background-color: var(--whiteC100);
}

.ant-modal-header {
  background-color: var(--whiteC100);
  color: var(--text-COMMON_TEXT);
  border-bottom: 1px solid var(--whiteC400);
}

.ant-modal-footer {
  border-top: 1px solid var(--whiteC400);
}

.ant-modal-title {
  color: var(--text-HEADING);
}

.ant-modal-close {
  color: var(--text-HEADING);

  &:hover {
    color: var(--text-COMMON_TEXT);
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
  -webkit-transition-delay: 9999s;
}

:where(.css-dev-only-do-not-override-1seyeah).ant-descriptions .ant-descriptions-view table {
  table-layout: auto;
}