.modal {
    padding: 20px 30px;
    pointer-events: all;
    align-items: center;
    width: 100vw;
    height: 100vw;
    transition-delay: 0.5s;
    background-color: rgba(0,0,0,0.2);
    position: absolute;
    top: 0;
    left: 0;
}

.modal-content form{
    display: flex;
    width: 600px;
    height: fit-content;
    padding: 60px 90px 45px 90px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 4px;
    background: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 645px;
    line-height: 45px;
    margin-bottom: 10px;
    color: #000;
    font-family: Roboto, arial, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}

.modal input {
    height: 45px;
    flex: 0 0 475px;
    text-indent: 10px;
}

.modal select {
    appearance: none;
    -webkit-appearance: none;
    height: 45px;
    flex: 0 0 475px;
    text-indent: 10px;
    background-color: #fff;
}

.modal .add-key-btn {
    display: flex;
    padding: 6px 18px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;

    border-radius: 2.4px;
    border: 1.2px solid #852CF5;
    background: #852CF5;
    box-shadow: 0px 2.4px 0px 0px rgba(0, 0, 0, 0.04);

    text-align: center;
    font-family: Roboto, Arial, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    color: #FFF;
}

.modal .close-modal {
    color: #6E6E6E;
    text-align: center;
    font-family: Roboto, arial, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    text-decoration-line: underline;
    border: none;
    background-color: transparent;
}
